
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.header.tablet{
    display: none;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container{
    
    padding: 0 20px;
    max-width: 1400px;
    margin: 50px auto;
}
.header{
    height: 60px;
}
.header .logo img{
    height: 20px;
}
.header .search-bar input{
    padding: 10px 100px;

    border: 2px solid #858585;
    border-radius: 100px;
}
.header .search-bar svg{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);
}
.header .search-inner{
    position: relative;
}
.icons{
    align-items: start;
    gap: 12px;
}

.icon-p{
    position: relative;
}
.icon-p .counter{
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: red;
    width: 15px;
    height: 15px;
    color: #fff;
    border-radius: 50%;
    justify-content: center;
    font-size: 12px;
}

/* Cart Sidebar */
.cart-sidebar {
    position: fixed;
    top: 0; right: -400px;
    width: 350px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
  }
  .cart-sidebar.active{
    right: 0;
  }
  .cart-header, .cart-footer {
    padding: 15px;
    background: #f1f1f1;
    font-weight: bold;
  }
  .cart-items {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .cart-item img {
    width: 50px; height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }
  .cart-item .info {
    flex-grow: 1;
  }
  .qty {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .qty button {
    width: 25px;
    height: 25px;
    background: #ddd;
    border: none;
    cursor: pointer;
  }
  .qty span {
    margin: 0 5px;
  }
  .delete-btn {
    color: red;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
  }
  .close-btn {
    cursor: pointer;
    font-size: 20px;
    float: right;
  }
  .checkout-btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
  }
  .checkout-btn:hover {
    background: #218838;
  }

.catagories{
    /* margin: 50px 0; */
    overflow: hidden;
}
.section-inner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.section-inner img{
    border: 1px solid transparent;
    background-color: #eee;
    border-radius: 50%;
    height: auto;
    cursor: pointer;
}
.section-inner p{
    text-align: center;
    margin: 0;
    margin-top: 10px;
}
.section-inner img:hover{
    border: 1px solid red;

}
.section-inner p:hover{
    color: red;
    transition: color 0.3s ease;
    cursor: pointer;
}
.collections{
    margin: 50px 0;
}
.collections-inner{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 20px;
}
.collection{
    position: relative;
    overflow: hidden;
}
.collection .content{
    position: absolute;
    bottom: 10px;
}
.collection.c1 .content{
    bottom: 30px;
    left: 30px;
}
.collection.c2 .content{
    justify-content: center;
    flex-direction: column;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.collection.c2 .content .button{
    background-color:darkgray
}
.collection.c3 .content{
    top: 30px;
    left: 30px;
}
.collection p{
    margin-bottom: 14px;
}
.collection button{
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    border-style: solid;
    border-width: 1px;
    padding: 0 25px;
    width: 150px;
    fill: #fff;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    cursor: pointer;
    transition: background-color 0.6s ease, border-color 0.6s ease;
}
.collection svg{
    color: #fff;
    fill: #fff;
}
.collection svg path{
    fill: #fff;
}
.collection.c2 .content p:last-of-type{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.collection button svg{
    margin-left: 5px;
}
.collection.c3 button{
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #000;
    margin-top: 15px;
}
.collection.c3 button svg{
    margin: 0;
}
.collection button:hover{
    background-color: red;
    border-color: red;
    transition: all 0.6s ease;
}
.collection img{
    transform: scale(1);
    transition: transform 1s ease;
}
.collection:hover img{
    transform: scale(1.1);
    transition: all 1s ease;
}
.imgs{
    position: relative;
    width: 100%;
}
.imgs img{
    height: 300px;
}
.product{
    border: 2px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}
.p-images{
    overflow: hidden;
}
.p-images .imgs .first{
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100%;
    min-height: 300px;
}
.p-images .first{
    opacity: 0;
    position: relative;
    z-index: 9;
}
.product:hover .p-images .first{
    opacity: 1;
}
.p-images{
    position: relative;
}
.products-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.product .info,
.product .sale{
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    color: #fff;
    padding: 1px 8px;
}
.product .info{
    background-color: red;
}
.product .sale{
    left: auto;
    right: 0px;
    background-color: rgb(243, 243, 146);
}
.product .icons-btn{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 11;
}
.product .icons{
    justify-content: center;
}
.product .icons-btn button{
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: red;
    color: white;
    position: relative;
    z-index: 9;
    bottom: -37px;
}
.product:hover .icons-btn button{
    bottom: 0px;
    transition: all 0.6s ease;
}
.product .colors{
    justify-content: left;
    gap: 10px;
}
.product .color{
    width: 22px;
    height: 22px;
    background-color: #000;
    border-radius: 50%;
}
.product .color:hover{
    outline: 1px solid #000;
    outline-offset: 3px;
    width: 22px;
    height: 22px;
    transition: all 0.2s ease;
}
.product .color.yellow{
    background-color: yellow;
}
.product .color.blue{
    background-color: blue;
}
.product .icons{
    margin-bottom: 10px;
}
.product .icons .p-icon{
    background-color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
}
.product .icons .p-icon:hover{
    background-color: red;
    transition: all 0.6s ease;
}
.product .p-icon.pi-1{
    position: relative;
    opacity: 0;
    top: -13px;
}
.product .p-icon.pi-2{
    position: relative;
    opacity: 0;
    bottom: -13px;
    z-index: 0;
}
.product .p-icon.pi-3{
    position: relative;
    opacity: 0;
    top: -13px;
}
.product:hover .p-icon.pi-1{
    top: 0;
    opacity: 1;
    transition: all 0.6s ease;
}
.product:hover .p-icon.pi-2{
    bottom: 0;
    opacity: 1;
    transition: all 0.6s ease;
}
.product:hover .p-icon.pi-3{
    top: 0;
    opacity: 1;
    transition: all 0.6s 0.2s ease;
}
.product .p-content{
    padding: 10px 15px;
}
.iwc-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.iwc-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iwc-image{
    position: relative;
}
.plus-content{
    width: 200px;
    padding: 5px;
    text-align: center;
}
.product-hover .plus-icon{
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.product-hover{
    position: absolute;
    top: 20%;
    right: 40%;
}
.product-hover .plus-content{
    background-color: #fff;
}
.product-hover .plus-content{
    opacity: 0;
}
.product-hover .plus-icon:hover + .plus-content{
    opacity: 1;
}
.product-hover .plus-icon:before {
    width: 28px;
    height: 28px;
    position: absolute;
    content: "";
    left: calc(50% - 14px);
    top: calc(50% - 14px);
    background: 0 0;
    border: 1px solid hsla(0, 100%, 50%, 0.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 9;
    -webkit-animation-name: g;
    animation-name: g;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes g{
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}
.brands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 50px 0;
}
.brands img{
    object-fit: contain;
    height: 80px;
    opacity: 0.2;
}
.brands img:hover{
    opacity: 1;
    transition: all 0.6s ease;
}
.footer{
    background-color: #e1e0e0;
    padding: 50px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.footer-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
.footer .menus a{
   display: block;
   color: #a0a0a0;
   text-decoration: none;
   margin: 5px 0;
}
.footer .menus p{
    font-weight: 900;
}
.footer .menus .para{
    font-weight: 100;
    color: #a0a0a0;
}
.footer .menus input[type="email"]{
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid #cbcbcb;
    width: 100%;

}
.footer form{
    position: relative;
    margin: 20px 0;
}
.footer .menus input[type="submit"]{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    background-color: transparent;
    border: none;
}
